---
import { NavBar } from "../components/layout/nav-bar.tsx";
import "@/styles/global.css";
import { Toaster } from "../components/ui/sonner.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>React Composable Calendar</title>
  </head>
  <body class="dark bg-background text-foreground">
    <NavBar client:load />
    <Toaster client:load />
    <slot />
  </body>
</html>
