---
import { basicCalendar } from "@/examples/code-examples.ts";
import { ExampleSection } from "../components/layout/example-section.tsx";
import { Calendar } from "../components/ui/calendar.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid gap-8 py-8">
    <ExampleSection
      client:load
      title="Basic Calendar"
      description="A simple calendar that accepts a single date input."
      code={basicCalendar}
    >
      <Calendar
        mode="single"
        className="grow border border-border rounded-md"
        client:load
      />
    </ExampleSection>
  </div>
</Layout>
