---
import { ExternalLink } from "@/components/ui/external-link.tsx";
import * as BasicCalendarDocs from "@/docs/basic-calendar.mdx";
import * as DatePickerDocs from "@/docs/date-picker.mdx";
import * as MultipleViewsDocs from "@/docs/multiple-views.mdx";
import * as SeparateViewsDocs from "@/docs/separate-views.mdx";
import * as codeExamples from "@/examples/code-examples.ts";
import {
  ExampleSection,
  ExampleSectionCode,
  ExampleSectionPreview,
} from "../components/layout/example-section.tsx";
import { MultiViewCalendar } from "../components/ui/calendar-multi-view.tsx";
import { CalendarStartEndSeparate } from "../components/ui/calendar-start-end-separate.tsx";
import { Calendar } from "../components/ui/calendar.tsx";
import { Card, CardContent } from "../components/ui/card.tsx";
import { CodeBlock } from "../components/ui/code-block.tsx";
import { Container } from "../components/ui/container.tsx";
import { DatePicker } from "../components/ui/date-picker.tsx";
import { Typography } from "../components/ui/typography.tsx";
import Layout from "../layouts/Layout.astro";
import * as Demos from "@/components/demos.tsx";
---

<Layout>
  <div class="grid gap-8 py-8">
    <Container>
      <Card>
        <CardContent>
          <Typography variant="h2" className="mb-1">Get started</Typography>
          <Typography variant="p"> Install dependencies: </Typography>
          <CodeBlock
            client:load
            code="npm i react-composable-calendar dayjs"
            className="mb-6"
          />

          <Typography variant="h2" className="mb-1">
            Copy paste into your codebase
          </Typography>
          <Typography variant="p" className="mb-3">
            This package is designed with composability and headless components
            at its core, following the same principles<br /> as
            <ExternalLink
              href="https://ui.shadcn.com/docs/installation"
              text="shadcn/ui"
            />
            and
            <ExternalLink href="https://www.radix-ui.com/" text="Radix UI" />.
            It offers flexibility and customization, empowering you to build
            exactly what you need.
          </Typography>
          <Typography variant="p" className="mb-3">
            Explore the examples below, find the one that aligns with your
            vision, and start crafting your perfect calendar component with
            ease.
          </Typography>
          <Typography variant="p" className="mb-6">
            The examples require you to have
            <ExternalLink
              href="https://ui.shadcn.com/docs/installation"
              text="shadcn/ui"
            />
            setup in your project.
          </Typography>

          <Typography variant="h2" className="mb-1">Change locale</Typography>
          <Typography variant="p">
            To change locale of the calendar, you can pass a locale to the root
            component or set the locale for dayjs globally.
          </Typography>
          <CodeBlock client:load code={codeExamples.locale} />
          <CodeBlock client:load code={codeExamples.localeGlobal} />
        </CardContent>
      </Card>
    </Container>

    <ExampleSection
      client:load
      id="basic-calendar"
      title="Basic Calendar"
      description="A simple calendar that accepts a single date or a range."
    >
      <ExampleSectionPreview>
        <Demos.DemoCalendar client:load />
      </ExampleSectionPreview>
      <ExampleSectionCode>
        <BasicCalendarDocs.Content />
      </ExampleSectionCode>
    </ExampleSection>

    <ExampleSection
      client:load
      id="date-picker"
      title="Date Picker"
      description="A Date Picker input that utilizes shadcn/ui's Button and Popover."
    >
      <ExampleSectionPreview>
        <Demos.DemoDatePicker client:load />
      </ExampleSectionPreview>
      <ExampleSectionCode>
        <DatePickerDocs.Content />
      </ExampleSectionCode>
    </ExampleSection>

    <ExampleSection
      client:load
      id="multiple-views"
      title="Multiple Views"
      description="You can have multiple views under the same calendar root."
    >
      <ExampleSectionPreview>
        <Demos.DemoMultiView client:load />
      </ExampleSectionPreview>
      <ExampleSectionCode>
        <MultipleViewsDocs.Content />
      </ExampleSectionCode>
    </ExampleSection>

    <ExampleSection
      client:load
      id="start-end-date-separately"
      title="Select start and end date separately"
      description="You can even have two views that work independently of each other."
    >
      <ExampleSectionPreview>
        <Demos.DemoSeparateViews client:load />
      </ExampleSectionPreview>
      <ExampleSectionCode>
        <SeparateViewsDocs.Content />
      </ExampleSectionCode>
    </ExampleSection>
  </div>
</Layout>
